@import url('../assets/roboto-fontface/css/roboto/roboto-fontface.css');

body, .reveal, .reveal h1, .reveal h2, .reveal h3 {
    font-family: Roboto, sans-serif;
    font-weight: 150;
    letter-spacing: 0.05em;
}
.reveal h1, .reveal h2, .reveal h3 {
    font-weight: 150;
}
.logo-symbol {
    position: fixed;
    height: 6rem;
    width: 6rem;
    top: 0;
    right: 0;
    z-index: 100;
}
.logo-symbol.hidden {
    display: none;
}
.opaque {
    background: hsla(0, 10%, 10%, 0.9);
}
.round {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 50px auto;
}
.pattern {
    background-image: url("../img/bg/06_zbozhe_decor_1920.jpg");
}
.reveal .has-dark-background a {
    color: white;
}
.reveal .qrcode {
    max-width: 8rem;
}
.social-icon-block {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem;
}
